/.idea
/.vagrant
/Homestead.json
/Homestead.yaml
/after.sh
/aliases
/certs/*.crt
/mysql_backup
/mysqldump.sql.gz
/node_modules
/postgres_backup
/user-customizations.sh
/vendor
phpunit.xml
.DS_Store
/bin/*.ngrok.sh